apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-bvueigbs
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-bvueigbs:7779f42aeef98f25ac810e4812028888e194c438@sha256:e432cbd1036ca677c2cc345e9152a58b56ff1c009e3d9db2833150d5a25ca6e6
          name: container-image
